// Footer
// --------------------------------------------------
footer {
	border-top: $border;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem 0;
	margin-top: 4rem !important;
    @media only screen and (min-width: $navBreakpoint) {
        padding: 2rem 0;
    }
    .social {
    	display: flex;
    	align-items: center;
    	a {
            color: $gray;
            font-size: 1.5rem;
    		margin-right: 1.5rem;
    		&:last-of-type {
    			margin-right: 0;
    			margin-top: 5px;
                font-weight: bold;
    		}
    		&:hover {
    			color: $mid-gray;
    		}
    	}
    }
    &.alt {
        border-top: none;
        margin-top: 0 !important;
    }
}

// Adjustments for GCB
.gcb + .footer,
.olympus + .footer {
    margin-top: 0 !important;
}
