// Scaffold
// --------------------------------------------------
body {
    background: white;
    font-family: $sans-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: $textColor;
    margin: 0;
    position: relative;
    width: 100%;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    &:before {
        display: block;
        height: 0.5rem;
        width: 100%;
        content: "";
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #979937);
        background-size: 400% 400%;
        animation: gradient 10s ease infinite;

        @keyframes gradient {
            0% {
                background-position: 0% 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            }
        }
    }
    @media (prefers-reduced-motion) {
        &:before { display: none; }
    }
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1400px;
}

.heading {
    padding: 4rem 0 2rem 0;
    .center-text { text-align: left; }
    @media only screen and (min-width: $mdScreen) {
        .center-text { text-align: center; }
    }
}

.section {
    background: white;
    display: block;
    @supports (display: grid) {
        display: grid;
        &.two-col {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr auto;
            @media only screen and (min-width: $mdScreen) {
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr;
            }
        }
    }
    &.actions {
        margin-bottom: 4rem;
        margin-top: 4rem;
        text-align: center;
        .button { justify-self: center; }
    }
}

.flex-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    .column-left,
    .column-right {
        width: 100%;
    }
    @media only screen and (min-width: $mdScreen) {
        gap: 4rem;
        flex-flow: row nowrap;
    }
}

.intro-content {
    margin: 0 0 2rem 0;
    p { margin: 1rem 0; }
    @media only screen and (min-width: $mdScreen) {
        p {
            text-align: center;
            margin: 1rem 10%;
        }
    }
}

// CSS Grid Styles
.gutter-left    { grid-column: gutter-left;}
.gutter-right   { grid-column: gutter-right; }
.column-left    { grid-column: col2; }
.column-right   { grid-column: col3; }

.side-by-side-content-photo {
    display: block;
    margin-bottom: 40px;

    // One Column Layout for Small and Medium Screen
    grid-template-rows: 1fr auto;
    padding: 2rem 0;

    // Multi-column layout for Large screen
    @media only screen and (min-width: $mdScreen) {
        display: block;
        display: grid;
        grid-template-columns: [gutter-left] 0  [col2] 1fr  [col3] 1fr [gutter-right] $column-gutter;
        grid-template-rows: auto;
        padding: 0;
        overflow: hidden;
        > div {
            float: left;
            width: 50%;
        }
        @supports (display: grid) {
            overflow: unset;
            > div { width: unset; }
        }
    }
    .image {
        background: white;
        margin: 0 0 -4rem 0;
        @media only screen and (min-width: $mdScreen) { margin: 0; }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .column-left {
        display: block;
        align-content: center;
        justify-content: center;
        margin-bottom: 4rem;
        @media only screen and (min-width: $mdScreen) {
            display: block;
            display: grid;
            padding: 3rem $column-gutter 3rem $column-gutter;
            @supports (display: grid) { padding-left: unset; }
            text-align: left;
            justify-content: start;
            margin-bottom: 0;
        }
    }
    .column-right {
        grid-column: col3 / gutter-right-end;
    }
}

.image-column-container {
    margin: 2rem 0;
    @supports (display: grid) {
        @media only screen and (min-width: $navBreakpoint) {
            display: grid;
            grid-column-gap: 1rem;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }
    }
    .image-column {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;

        @media only screen and (min-width: $navBreakpoint) {
            display: inline-block;
            width: 32%;
            vertical-align: top;
            margin-right: 1%;
        }

        @supports (display: grid) {
            @media only screen and (min-width: $navBreakpoint) {
                display: flex;
                width: 100%;
                vertical-align: unset;
                margin-right: unset;
            }
        }
        img {
            width: 100%;
            box-shadow: rgba(0,0,0,0.09) 0px 2px 10px;

        }
    }
}

// Fade in Animation (Desktop Only)
@media only screen and (min-width: $navBreakpoint) {
    .fade-in {
        animation-duration: 2s;
        animation-fill-mode: both;
        -webkit-backface-visibility: hidden;
        @media (prefers-reduced-motion) {
            animation: none;
            opacity: 1;
        }
    }

    @keyframes fadeinup {
        from {
            transform: translate3d(0,40px,0)
        }

        to {
            transform: translate3d(0,0,0);
            opacity: 1
        }
    }

    .visible {
        transition: all 2s ease;
        opacity: 0;
        animation-name: fadeinup;
    }
}
