// Homepage
// --------------------------------------------------
.home {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	header {
		.logo { display: none; }
		justify-content: flex-end;
	}
	main {
		display: flex;
		height: calc(100vh - 150px);
		min-height: 600px;
		.info {
			align-self: flex-start;
			padding-bottom: 4rem;
			h1 {
			  	font-size: 1.75rem;
			  	margin:  0 0 .25rem 0;
			  	color: $gray;
			}
			h2 {
			  	font-size: 4rem;
			  	margin: 0 0 4rem 0;
			  	span { color: lighten($secondaryColor, 8%); }
			}
		}
	}
	@media only screen and (min-width: $smScreen) {
		main {
			height: calc(100vh - 86px);
			.info { padding-bottom: 0; }
		}
	}
	@media only screen and (min-width: $navBreakpoint) {
		gap: 0;
		header {
			nav[role=navigation] {
				ul { padding-top: 0.4rem; }
			}
		}
		main {
			height: calc(100vh - 94px);
			.info { align-self: center; }
		}
	}
	@media only screen and (min-width: $lgScreen) {
		main {
			.info { width: 60%; }
		}
	}
}
