// Homepage
// --------------------------------------------------
.home {
	display: flex;
	flex-direction: column;
	gap: 4rem;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, $secondaryColor);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
	&:before {
		display: none;
	}
	@media (prefers-reduced-motion) {
        animation: none;
        background: $secondaryColorDarken;
    }

	@keyframes gradient {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}

	header {
		.logo { display: none; }
		justify-content: flex-end;
		nav[role=navigation] ul li a { color: white; }
	}
	main {
		display: flex;
		height: calc(100vh - 150px);
		min-height: 600px;
		.info {
			align-self: flex-start;
			padding-bottom: 4rem;

			h1.hello {
				font-size: 2.5rem;
				margin: 0;
				color: white;
				span { display: block; }
				// &:after {
				//     animation: hello 20s infinite;
				//     transition: fadeInUp .2s ease-in-out;
				//     content: "";
				// }
			}
			h2.about {
				color: white;
				font-size: 4rem;
				line-height: 1.25;
			}
		}
	}
	@media only screen and (min-width: $smScreen) {
		main {
			height: calc(100vh - 86px);
			.info {
				padding-bottom: 0;
				h1.hello {
					font-size: 2.5rem;
					span { display: inline-block; }
				}
				h2.about {font-size: 4.5rem; }
			}
		}
	}
	@media only screen and (min-width: $navBreakpoint) {
		gap: 0;
		&:before {
			display: block;
			background: transparent;
		}
		header {
			nav[role=navigation] {
				ul { padding-top: 0.4rem; }
			}
		}
		main {
			height: calc(100vh - 94px);
			.info {
				align-self: center;
				h1.hello { font-size: 3rem; }
				h2.about {font-size: 6rem; }
			}
		}
	}
	@media only screen and (min-width: $lgScreen) {
		main {
			.info { width: 80%; }
		}
	}
}



@keyframes hello {
    0% {
        content: "Hello, my name is Katie";
        transition:all .2s ease-in-out
    }

    10% {
        content: "Hello, my name is Katie";
        transition:all .2s ease-in-out
    }

    20% {
        content: "Hello, my name is Katie";
        animation: fadeInUp 1s ease-in-out;
        opacity: 0;
        transition:all .2s ease-in-out
    }

    30% {
        content: "designer & developer";
        animation: fadeInUp 1s ease-in-out;
        opacity: 0;
        transition:all .2s ease-in-out
    }

    40% {
        content: "designer & developer";
        animation: fadeInUp 1s ease-in-out;
        opacity:1
    }

    50% {
        content: "designer & developer";
        animation: fadeInUp 1s ease-in-out;
        opacity:1
    }

    60% {
        content: "designer & developer";
        animation: fadeInUp 1s ease-in-out;
        opacity: 0;
        transition:all .2s ease-in-out
    }

    70% {
        content: "Hello, my name is Katie";
        animation: fadeInUp 1s ease-in-out;
        opacity: 0;
        transition:all .2s ease-in-out
    }

    80% {
        content: "Hello, my name is Katie";
        transition:all .2s ease-in-out
    }

    90% {
        content: "Hello, my name is Katie";
        transition:all .2s ease-in-out
    }

    100% {
        content: "Hello, my name is Katie";
        transition:all .2s ease-in-out
    }
}
