// Typography
// --------------------------------------------------

// Base Typography Settings
// -------------------------
body {
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-family: $base-font-family;
    color: $textColor;
}

// Headings
// -------------------------
// All Headings
h1, h2, h3, h4, h5, h6, p, a {
    line-height: $base-line-height;
    padding: 0;
    font-weight: 400;
    &.center { text-align: center; }
}

// Individual Headings
h1,
h2.level-up {
    font-family: $sans-font-family;
    font-size: 2.5rem;
    margin: 0.5rem 0;
    font-weight: 300;
    line-height: 1.2;
    text-transform: uppercase;
    color: $textColor;
    @media only screen and (min-width: $mdScreen) {
        #work & { font-size: 3.75rem; }
    }
}

h2 {
    line-height: 1.25;
    font-size: 2.5rem;
    color: $secondaryColor;
    font-family: $serif-font-family;
    margin: 0 0 .5rem 0;
    span {color: $secondaryColorDarken;}
}

h3 {
    text-transform: uppercase;
    font-family: $serif-font-family;
    font-size: 1.75rem;
    line-height: 1.25;
    position: relative;
    &.border {
        z-index: 5;
        span {
            background: white;
            padding: 5px 30px;
            z-index: 2;
            width: auto;
        }
        .line {
            border-top: $border;
            position: absolute;
            z-index: -1;
            display: block;
            width: 100%;
            margin-top: -12px;
        }
    }
    #resume & {
        &.border {
            span { background: white; }
        }
    }
    &.level-up {
        font-family: $sans-font-family;
        color: $textColor;
    }
}

h4 {
    font-family: $sans-font-family;
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 1.25;
    margin: 1rem 0;
    color: $textColor;
}

p {
    font-size: 1.2rem;
    margin: 1rem 0;
    line-height: 1.5;
    font-weight: 400;
    color: $textColor;
}

.primary-color {
    color: $primaryColor;
    span { color: $primaryColorDarken; }
}


// Text Treatments
// -------------------------

em, i { font-style: italic; }
strong, b { font-weight: bold; }
sub { }
sup { }

.center-text {text-align: center;}

// Links
a {
  color: $link-color;
  text-decoration: none;

    &:hover {
        color: $link-color-hover;
        cursor: pointer;
    }
    &:active, &:focus {
        color: $link-color-active;
    }
}

// Address
address {
  font-style: normal;
}

// Lists
// -------------------------
// // All Lists
// dl, ol, ul { }

ul {
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 400;
    padding: 0;
    margin: 0 0 0 20px;
    li {
        margin-top: 1rem;
    }
}

// // Unordered Lists
// ul {
//     list-style: none;
//     margin: 0;
//     padding: 0;
//     li {
//         display: inline-block;
//         margin: 0 1rem;
//         text-transform: uppercase;
//         &:first-of-type {margin-left: 0;}
//     }
// }
// ul {
//   margin: 1.5rem auto;
//   font-size: 1.25rem;
// }
// // Ordered Lists
// ol {
//   li { }
// }

// Images
// -------------------------
img {
    width: 100%;
    height: auto;
    @media screen and (min-width: $lgScreen) {
        &.full-width {
            width: 70%;
            height: auto;
            margin: 0 auto;
        }
    }
}
